name: Test

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: "22.11.0"
          registry-url: "https://registry.npmjs.org"

      - name: Install corepack
        run: |
          npm install -g corepack

      - name: Enable corepack
        run: |
          corepack enable

      - name: Set yarn version
        run: |
          yarn set version 4.9.4

      - name: Install dependencies
        run: yarn

      - name: Test
        run: |
          yarn test
